---
import { getCollection } from 'astro:content';
import BaseLayout from '~/layouts/BaseLayout.astro';

interface Note {
  data: {
    draft?: boolean;
    tags?: string[];
  }
}

const isDev = import.meta.env.MODE === 'development';
const allNotes = await getCollection('notes') as Note[];
const filteredNotes = allNotes.filter((note: Note) => {
  return isDev ? true : note.data.draft !== true;
});
const uniqueTags: string[] = [...new Set(
  filteredNotes
    .map((note: Note) => note.data.tags || [])
    .flat()
)];
const sortedTags = uniqueTags.sort((a, b) => a.localeCompare(b));

---
<BaseLayout pageTitle="All tags">
  <div class="heading-and">
    <h1>All tags</h1>
  </div>
  <div class="tags">
  <p class="tag-page">Notes have been tagged with
    {sortedTags.map((tag, index) => (
      <>
        <a class="custom-tag" href={`/tags/${tag.toLowerCase()}`}>{tag}</a>{index < sortedTags.length - 2 ? ', ' : index === sortedTags.length - 2 ? ', and ' : ''}
      </>
    ))}.</p>
  </div>
</BaseLayout>
