---
import { getCollection } from 'astro:content';
import BaseLayout from '~/layouts/BaseLayout.astro';

const allNotes = await getCollection('notes');
const uniqueTags = [...new Set(allNotes.map((note) => note.data.tags).flat())];
const sortedTags = uniqueTags.sort((a, b) => a.localeCompare(b));

---
<BaseLayout pageTitle="All tags">
  <div class="heading-and">
    <h1>All tags</h1>
  </div>
  <p class="tags">Notes have been tagged with
    {sortedTags.map((tag, index) => (
      <>
        <a class="custom-tag" href={`/tags/${tag.toLowerCase()}`}>{tag}</a>{index < sortedTags.length - 2 ? ', ' : index === sortedTags.length - 2 ? ', and ' : ''}
      </>
    ))}.</p>
</BaseLayout>
