---
---
<footer>
  <p>
    &copy;
    <span id="date">2025</span>
    <span class="mail">Myles Lewando</span>
    <a style="display: none;" rel="me" href="https://social.coop/@codemacabre">Mastodon</a>
  </p>
</footer>

<script>
const addEmail = (text) => {
  const e = 'contact'
  const at = '@'
  const d = 'codemacabre'
  const dot = '.'
  const c = 'com'
  const h = e + at + d + dot + c

  if (text === '') {
    text = h
  }

  return `<a href="mailto: ${h}">${text}</a>`
}

// Insert current year
const date = document.querySelector('#date')
if (date) {
  date.innerHTML = new Date().getFullYear().toString();
}

// Insert email address
const mail = document.querySelectorAll('.mail')
if (mail.length > 0) {
  mail.forEach(e => {
    const text = e.textContent
    e.innerHTML = addEmail(text)
  })
}
</script>
