---
const { pathname } = Astro.url;
---
<header>
  <nav>
    <a class="title" href="/">Code&nbsp;Macabre</a>
    <input type="checkbox" id="main-menu-toggle" class="sr-only" tabindex="0" />
    <label for="main-menu-toggle" class="hamburger">
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="slice"></span>
      <span class="sr-only">Menu</span>
    </label>
    <ul class="menu" id="main-menu">
      <li class="mobile-only">
        <a class={pathname === '/' ? 'selected' : ''} href="/">Home</a>
      </li>
      <li>
        <a class={pathname.includes('/projects') ? 'selected' : ''} href="/projects">Projects</a>
      </li>
      <li>
        <a class={pathname.includes('/notes') ? 'selected' : ''} href="/notes">Notes</a>
      </li>
      <li>
        <a class={pathname.includes('/about') ? 'selected' : ''} href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const menuInput = document.querySelector('#main-menu-toggle') as HTMLInputElement;
  const menu = document.querySelector('#main-menu') as HTMLUListElement;

  menuInput.addEventListener('change', () => {
    if (menuInput.checked) {
      menu.setAttribute('aria-hidden', 'false');
      trapFocus(menu);
    } else {
      menu.setAttribute('aria-hidden', 'true');
      menuInput.focus();
    }
  });

  menuInput.addEventListener('keydown', (e) => {
    if (e.key === 'Enter') {
      menuInput.checked = !menuInput.checked;
    }
  });

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape' && menuInput.checked) {
      menuInput.checked = !menuInput.checked;
      menu.setAttribute('aria-hidden', 'true');
      menuInput.focus();
    }
  });

  const trapFocus = (menu) => {
    const focusableElements = menu.querySelectorAll('a');
    
    const menuItems = [menuInput, ...focusableElements];
    const firstMenuItem = menuItems[0];
    const lastMenuItem = menuItems[menuItems.length - 1];

    firstMenuItem.focus();

    menu.addEventListener('keydown', (e) => {
      if (e.key === 'Tab') {
        if (e.shiftKey) {
          if (document.activeElement === firstMenuItem) {
            e.preventDefault();
            lastMenuItem.focus();
          }
        } else {
          if (document.activeElement === lastMenuItem) {
            e.preventDefault();
            firstMenuItem.focus();
          }
        }
      }
    });
  };
</script>
